<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:replace="/fragments/header :: header"></div>
<div style="width:100%;background-color:#ffffff;border:1px solid #f3f3f3">
    <div style="text-align:center; color: #005098; font-weight:500; margin: 10px 0 5px 0; font-size: 20px;"
        th:text="${title}">
    </div>
    <div th:text="${body}" style="margin-bottom:10px;text-align:center;">
    </div>
</div>
<div th:replace="/fragments/footer :: footer"></div>
</body>
</html>